<!-- <% if (post.tags && post.tags.length){ %>
  <li class="article-footer-tags">
   
      <% post.tags.forEach(function (tag) { %>
        <i class="fa fa-tags"></i>
    <a href="<%= config.root %>tags/<%= tag.name.replace(/\s+/g, '') %>/" class="color<%= tag.name.length % 5 + 1 %>"><%- tag.name %></a>
      <% }) %>
  </li>
<% } %> -->

<% if (post.tags && post.tags.length){ %>
  <%
  var cats = [];
  post.tags.forEach(function(cat){
      cats.push('<a  class="post-tag" href="'+url_for(cat.path)+'"><span class="tag is-warning is-rounded">'+ cat.name + '</span></a>');
  });
  %>
      <div class='tags-container'>
          <%- cats.join(' ') %>
      </div>
<% } %>