        <%- partial('_partial/hero',{post: page}) %>
        <section class="section category-section">

            <div class="container main-container">
                <div id="category">
                    <div class="article-sort-title">
                        <% if(page.category) { %>
                            Category -
                            <%= page.category %>
                                <% } else { %>
                                    <% } %>
                    </div>

                    <div class="article-sort">

                            <% page.posts.sort('date', 1).each(function(post, i){ %>
                                <!-- <%- partial('archive', {post: post }) %> -->
                             <% }) %>

                        <% page.posts.each(function(post){ %>

                            <div class="article-sort-item year"><time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, 'YYYY') %></time></div>
                            <div class="article-sort-item">
                                <time class="article-sort-item__time"><time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, 'DD-MM-YYYY') %></time>
                                <a class="article-sort-item__title" href="<%- url_for(post.path) %>" target="_blank" rel="noopener"><%- post.title %></a>
                            </div>
                            <% }) %>
                    </div>
                </div>
            </div>
        </section>
        <%- partial('_partial/pagination') %>