<%- partial('_partial/hero',{post: page}) %>
    <section class="section tag-section">

        <div class="container main-container">
            <div id="tag">
                <div class="article-sort-title">
                    <% if(page.tag) { %>
                        Tag -
                        <%= page.tag %>
                            <% } else { %>
                                <% } %>
                </div>
                <div class="article-sort">                    
                                <% page.posts.each(function(post){ %>
                                    <div class="article-sort-item year">
                                        <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished">
                                            <%= date(post.date, 'YYYY') %>
                                        </time>
                                    </div>
                                    <div class="article-sort-item">
                                        <time class="article-sort-item__time">
                                            <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished">
                                                <%= date(post.date, 'DD-MM-YYYY') %>
                                            </time>
                                            <a class="article-sort-item__title" href="<%- url_for(post.path) %>" rel="noopener">
                                                <%- post.title %>
                                            </a>
                                    </div>
                                <% }) %>
                </div>
            </div>
        </div>
    </section>
    <%- partial('_partial/pagination') %>