<header>
	<nav class="navbar is-white has-shadow is-spaced">
		<div class="container">

			<div class="navbar-brand">					
				<a class="navbar-item" href='<%= url_for("/") %>'>
					<%- config.brand %>
				</a>
				<div class="navbar-burger burger" data-target="MainMenu">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>

			<div id="MainMenu" class="navbar-menu">
				<div class="navbar-start">
					<% (theme.menu||[]).forEach(function(value){ %>
						<a class='navbar-item nav-<%=value.slug%>' href='<%=url_for(value.url)%>'>
							<%=value.name%>
						</a>
						<%})%>
				</div>

				<div class="navbar-end">
					<div class="navbar-item">
						<div class="field is-grouped">
							<div class="control has-icons-left is-hidden-touch">
								<%- partial('_partial/search') %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</nav>
</header>