<%- partial('_partial/hero',{post: post}) %>

	<section class="section article-section">

		<div class="container article-container">
			<div class="article-main columns">
				<!--article-->
				<div class="article-content column is-9">

					<div class="post-content content">
						<figure>
						<% if (post.featured_image){ %>
							<img src="<%- post.featured_image %>">
							<% } %>
						</figure>
								<%- post.content %>
					</div>
					<% if (post.comments && config.disqus_shortname){ %>
						<section id="comments">
							<div id="disqus_thread"></div>
						</section>
						<% } %>
				</div>
				<!--sidebar-->
				<div class="article-sidebar column is-3">
					<%- partial('post/toc') %>
				</div>
			</div>
		</div>
	</section>
	<script>		
		window.subData = {
			title: '<%= post.title %>',
			tools: true
		}
	</script>