<% if(is_post()) { %>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    <%= post.title %>
                </h1>
                <h2 class="subtitle">
                    <%= date(post.date, 'MMM D, YYYY') %>
                        <%- partial('post/tag',{post:post}) %>
                </h2>
            </div>
        </div>
    </section>
    <%}%>
        <% if(!is_post()) { %>
            <section class="hero hero-root">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">

                            <% if(is_tag()) {%>
                                <%= page.tag %>
                            <% } %>
                            <% if(is_page()) {%>
                                <%= page.title %>
                            <% } %>
                        </h1>                       
                    </div>
                </div>
            </section>

            <%}%>