<div class="card post-card">
  <div class="card-image post-thumbnail">
    <a href="<%- url_for(post.path) %>">

      <figure class="image is-3by2">
        <% if (post.featured_image){ %>
          <img src="<%- post.featured_image %>">
          <% } %>
      </figure>

    </a>
  </div>
  <div class="card-content">
    <div class="content">
      <div class="post-title">
        <% if (post.title) { %>
          <p class="title is-4">
            <a href="<%- url_for(post.path) %>">
              <%= post.title %>
            </a>
          </p>
          <% } %>
      </div>
      <div class="post-metadata">

        <div class="recent-post-item-content">
          <time class="post-meta__date">
            <i class="far fa-calendar-alt" aria-hidden="true"></i>
            <%= date(post.date, 'MMM D, YYYY') %>
          </time>
          <div class="post-meta__tag-list">
            <%- partial('post/tag',{post:post}) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>